ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    width: 20rem;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    .id {
      padding: 0.5rem 0.2rem;
    }
    .value {
      padding: 0.5rem;
      margin-right: auto;
    }
    button {
      color: white;
      border: 1px solid black;
      border-radius: 3px;
      width: 4rem;
      &.delete {
        background-color: red;
      }
      &.done {
        color: green;
      }
      & i {
        font-size: 1.3rem;
      }
    }
    &.selected {
      color: lighten(black, 70%);
      text-decoration: line-through;
    }
  }
}
